<section id="projects" style="margin-top: -30px;">
<div class="container">
  <h3 style="margin-top: 10px; margin-bottom: 20px; color: #267723;">RESEARCH</h3>
	<hr style="margin-top: 0px !important;"/>
  <div class="panel panel-default" style="box-shadow: none;">
    <div class="panel-body resume-label">
			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>DC model for quality improvement in technical education</strong> in <strong><a href="http://ieeexplore.ieee.org/document/7020293/">IEEE MITE 2014 :</a></strong>
			</h5>
			<span class="fs18"> The paper is in the direction of formalization and standardization of improving skills of students in DC(like a plugin/extension to current educational system).The proposed model is an add-on and a self learning oriented system where the focus is on to improve personalized technical skills.The paper discussed the methodology ,components, results and impact on members involved in DC after finishing their course work . The work would be available on IEEE Xplore with Part Number: CFP1474W-USB , ISBN: 978-1-4799-8224-0 and acquisition Letter dated 06 Aug 2014.
			</span>
			<br><br>
			<div class="fs18"><strong> Date : </strong> <span>19 December 2014</span></div>
			<br>
			<div class="fs16"><strong class="fs18"> Authors : </strong> <span><a href="https://www.linkedin.com/in/nitesh-mishra-12057356/"><i>Nitesh Mishra</i></a>, <a href="https://www.linkedin.com/in/ankitkulkarni"><i>Ankit Kulkarni</i></a>, <a href="https://www.linkedin.com/in/ajeetkhan/"><i>Ajeet Khan</i></a>, <a href="https://www.linkedin.com/in/sunny-raikwar-2499aa43/"><i>Sunny Raikwar</i></a>, <a href="https://sites.google.com/site/shaligramiipsdavvindore/"><i>Shaligram Prajapat</i></a></span></div>
			<br>
			<h5>
				<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Text Recognition in an Image Using Statistical Method- (PaperID: 535)</strong> in <strong>ICICIS 2012 :</strong>
			</h5>
			<span class="fs18"> Now a days content-based retrieval is pivotal issue in design of multimedia systems, which requires pattern matching and human cognition process. Literature survey revealed that huge scope is available to work in the area of text information retrieval from image files. Due to varying pattern in the image size, shape and orientations of text in images, it is computationally difficult to extract information from image files. The work is based on the Image Processing techniques and cognitive graphics. In this work a black and white image was pre-processed through the image processing techniques, and later will be matched with the standard available structures. We applied statistical algorithms to identify and extract the individual letters and numbers.
			</span>
			<br><br>
			<div class="fs18"><strong> Date : </strong> <span>28 October 2012</span></div>
			<br>
			<div class="fs16"><strong class="fs18"> Authors : </strong> <span><a href="https://www.linkedin.com/in/nitesh-mishra-12057356/"><i>Nitesh Mishra</i></a>, <a href="https://www.linkedin.com/in/ankitkulkarni"><i>Ankit Kulkarni</i></a>, <a href="https://www.linkedin.com/in/arpit-bhawar-12a74141/"><i>Arpit Bhawar</i></a>, <a href="https://sites.google.com/site/shaligramiipsdavvindore/"><i>Shaligram Prajapat</i></a></span></div>
			<br>
    </div>
  </div>
</div>
</section>
