<section id="projects" style="margin-top: -30px;">
<div class="container">
  <div class="panel panel-default text-left fs15" style="box-shadow: none;">
    <div>
			<h5 class="text-green margin0 fs20"><strong> Area of Interest : </strong><div class="pull-right fs16"><a href="{{ site.baseurl }}static/pdf/Nitesh-Mishra.pdf" target="_blank">Download pdf </a></div></h5>
      <span class="resume-label fs18">Full Stack Web Development</span>
		</div>
		<div>
			<h5><strong class="text-green fs20"> Experience :</strong></h5>
      <h6 class="fs18"><strong>Full Stack ROR Developer @ <a href="https://hashtagloyalty.com/">Hashtag Loyalty</a> (Oct 2015 - present)</strong></h6>
      <div class="resume-label pdl2 fs18"> Written API’s for both merchant dashboard and mobile, Written new feature/Enhance existing feature, Report generation with different types of graphs, User analytics and code optimization, Setup and maintain clound infrastructure on AWS, Worked on database design for different features.</div>

      <h6 class="fs18"><strong>Developer and System Administrator @ <a href="http://iips.edu.in/">IIPS-DAVV</a> University (July 2014 - Aug 2015)</strong></h6>
      <div class="resume-label pdl2 fs18"> Worked on different desktop and web based applications and also maintained cloud infrastructure.</div>
      <!--<ul> 
        <li>Worked on database design</li>
        <li>API’s for both merchant dashboard and mobile</li>
        <li>Report generation with graphs</li>
        <li>User analytics and code optimization</li>
        <li>Setup cloud architecture on AWS.</li>
      </ul>-->
		</div>
    <div class="resume-label">
      <h5 class="text-green mbt0 fs20"><strong> Skills : </strong></h5>
			<div class="row pdl2 fs18">
        <div class="col-md-3">Programming </div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">C, Ruby, Go</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3">Database</div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">Mysql, MongoDB, Sqlite</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3">Web Development </div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">HTML, CSS, JavaScript, Jquery, AJAX, JSON, XML</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3">Frameworks </div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">Ruby on Rails , AngularJS</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3">Others </div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">AWS, Digital Ocean, Continuous Integration, Git, Monitoring Tools, Vagrant</div>
      </div> 
		</div>
    <div class="resume-label">
      <h5 class="text-green mbt0 fs20"><strong> Projects : </strong></h5>
			<div class="row pdl2 fs18">
        <div class="col-md-3"><a href="https://rubygems.org/gems/dbbackups3/">Dbbackups3 </a></div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">Published a gem to backup the MYSQL database and save it to either the specified location or on the AWS S3</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3"><a href="http://iips.edu.in/">Institute Website</a></div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">Official website of institute (IIPS-DAVV University).</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3" style="color: #27A822;">Feedback System </div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">Feedback system of the institute (IIPS-DAVV University).</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3" style="color: #27A822;">CMCS</div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">Management Information System for collectorate-Indore.</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-3" style="color: #27A822;">ECMS</div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">Management Information System for a coaching institute</div>
      </div> 
      <div class="row pdl2 fs18">
        <div class="col-md-3"><a href="http://transinfo.exceedcoaching.in/">Transinfo</a></div>
        <div class="col-md-1"> - </div>
        <div class="col-md-8">A web app for organization to send information or alerts to their members/users.</div>
      </div>
		</div>
    <div class="resume-label">
			<h5><strong class="text-green fs20"> Online Course Completed : </strong></h5>
      <div class="row pdl2 fs18">
        <div class="col-md-9">Machine Learning (Coursera) </div>
        <div class="col-md-2">95%</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-9">Web Application and Architecture (Coursera)</div>
        <div class="col-md-2">95.3%</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-9">Introduction to database (Coursera)</div>
        <div class="col-md-2">Completed</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-9">Single Page Web Applications with AngularJS (Coursera)</div>
        <div class="col-md-2">Completed</div>
      </div>
		</div>
		<div class="resume-label">
			<h5><strong class="text-green fs20"> Education : </strong></h5>
      <div class="row pdl2 fs18">
        <div class="col-md-9">Master of Computer Applications</div>
        <div class="col-md-2"><strong>CGPA: 8.1/10</strong></div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-9">International Institute of Professional Studies, Devi Ahilya University</div>
        <div class="col-md-2">July 2012 - May 2015</div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-9">Bachelor of Computer Applications</div>
        <div class="col-md-2"><strong>CGPA: 7.6/10</strong></div>
      </div>
      <div class="row pdl2 fs18">
        <div class="col-md-9">International Institute of Professional Studies, Devi Ahilya University</div>
        <div class="col-md-2">July 2009 - May 2012</div>
      </div>
		</div>
    <div>
			<h5><strong class="text-green fs20"> Web Profile : &nbsp; &nbsp; </strong> <a class="fs18" href="http://transinfo.exceedcoaching.in/">Website</a>, <a class="fs18" href="http://transinfo.exceedcoaching.in/">LinkedIn</a>, <a class="fs18" href="http://transinfo.exceedcoaching.in/">Github</a>, <a class="fs18" href="http://transinfo.exceedcoaching.in/">Blog</a></h5>
		</div>
    <!--<div class="pull-right"><a href="pdf/Nitesh-Mishra.pdf">Download pdf </a></div>-->
  </div>
</div>
</section>
